body{
    color:darkred;
    background-color:black;
}

header{
    border-bottom:solid 2px rgb(109, 3, 3);
    padding: 20px;
    font-size:32px;
    color:rgb(133, 0, 0)

}
section{
    background-color: rgb(161, 13, 13);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}