body{
    color:darkred;
    background-color:black;
}

header{
    border-bottom:solid 2px rgb(148, 12, 12);
    padding: 20px;
    font-size:32px;
    color:rgb(150, 11, 11)

}
section{
    background-color: rgb(24, 18, 18);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}