body{
    color:darkred;
    background-color:black;
}

header{
    border-bottom:solid 2px rgb(170, 38, 14);
    padding: 20px;
    font-size:32px;
    color:rgb(158, 21, 21)

}
section{
    background-color: rgb(167, 21, 21);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}